{
  "chrome": {
    "driver_path": "chromedriver.exe",
    "user_data_dir": "D:\\.....\\Chrome_dev_session",
    "debug_port": 9222,
    "chrome_path": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
  }
}
